

<ion-list>

  <ion-menu-toggle>

    <ion-item [routerLink]="['/']" >
      <ion-label>Home</ion-label>
    </ion-item>

  </ion-menu-toggle>

  <ion-menu-toggle>
      <ion-item [routerLink]="['/login']" >
        <ion-label>Login</ion-label>
      </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle>
    <ion-item (click)="salir()">
      <ion-label>Salir</ion-label>
    </ion-item>
</ion-menu-toggle>

<ion-menu-toggle *ngIf="rol == 'empresa'">
  <ion-item [routerLink]="['/configuraciones']" >
    <ion-label>Configuraciones</ion-label>
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle *ngIf="isAdmin">
  <ion-item [routerLink]="['/ajustes']" >
    <ion-label>Ajustes</ion-label>
  </ion-item>
</ion-menu-toggle>

</ion-list>
