

<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input type="number" [(ngModel)]="correo"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" minlength="6" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button (click)="login()" expand="block"  shape="round">
      Login
    </ion-button>

    <ion-item>
        <ion-label>¿No tienes un usuario?</ion-label>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/registro']" >
            Resgístrate
            </ion-button>
        </ion-buttons>
    </ion-item>

    



</ion-content>