.foco {
    height: 100px;
    width: 100px;
    background: aqua;
    margin: 20px;
    border-radius: 100%;
}

.foco-prendido {
    height: 100px;
    width: 100px;
    background: rgb(43, 158, 81);
    margin: 20px;
    border-radius: 100%;
}